fastapi==0.110.0
uvicorn[standard]==0.27.1
pymysql==1.1.0
kafka-python==2.0.2
pydantic==2.6.1
pandas==2.1.4
numpy==1.26.2
scikit-learn==1.3.2
# PySpark for loading models trained by PySpark MLlib
pyspark==3.4.1
